KendoMVC/Service References/ServiceReference/ServiceProduct.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/API.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/API.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59738/ServiceProduct.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/APi.Models" />
  <xs:complexType name="ArrayOfProductos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Productos" nillable="true" type="tns:Productos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductos" nillable="true" type="tns:ArrayOfProductos" />
  <xs:complexType name="Productos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/APi.Models" minOccurs="0" name="Usuario" nillable="true" type="q1:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Productos" nillable="true" type="tns:Productos" />
</xs:schema>