KendoMVC/Service References/ServiceReference/ServiceProduct3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APi.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APi.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59738/ServiceProduct.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/API.Models" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/API.Models" minOccurs="0" name="Productos" nillable="true" type="q1:ArrayOfProductos" />
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
</xs:schema>